@import '~bootstrap/scss/bootstrap';
$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
$slick-font-path: "~slick-carousel/slick/fonts/";
$slick-loader-path: "~slick-carousel/slick/";
@import "~slick-carousel/slick/slick";
@import "~slick-carousel/slick/slick-theme";

.SearchContainer {
    height: 70vh;
    width:100%;
    background:#f00;
}

.RecommendsContainer {
    height: 30vh;
    width:100%;
    border: black;
    background:rgba(25, 0, 255, 0.726);
}

.content {
    height: inherit;
    overflow:auto; 

}