<%= stylesheet_pack_tag 'stylesheets/shared' %>
<div id="mySidebar" class="sidebar" onmouseover="toggleSidebar()" onmouseout="toggleSidebar()">
    <a href="#">about</a><br>
    <a href="#">about</a><br>
</div>
