<%= stylesheet_pack_tag 'stylesheets/shared' %>
<% series_list = local_assigns[:locals][:series_list] %>
<section id="media_results">

	<div class="parent white">
		<% (series_list.get_list).first(10).each do |id| %>
			<% series = series_list.get_series(id) %>
			<div class="child">
				 <img class="test" src="https://image.tmdb.org/t/p/w342/<%= series["poster_path"]%>" alt="no image" onerror="noImage(this);"> 
			</div>
		<% end %>
	</div>
</section>