// Place all the styles related to the SeriesLists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/




.card-img-top {
   -webkit-clip-path: inset(10% 0 20% 0);
   height: 30rem;
   max-width: 100%;
}
.card-title {
   font-weight: 600;
   color: #414345;
   min-height: 7.5rem;
   color: white !important;
   text-shadow: 2px 2px black;
}

.card-body {
   color: white !important;
}

.card-text {
   color:white;
   margin-top: 8px;
   font-weight: 600;
   line-height: 30px;
   min-height: 6rem;
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 3; /* number of lines to show */
   text-shadow: 1px 1px black;
   font-size:1.2rem;

}
.card, .trailer-preview {
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   &:hover {
      box-shadow: 0 8px 18px rgba(0, 0, 0, 0.10), 0 8px 8px rgba(0, 0, 0, 0.18);
   }   
}

.card {
   border-radius: 8pt;
   border-style: none;
   overflow: hidden;
   transform: scale(0.8);
   margin: 0;
   border: 0;
}
.card-img-overlay {
	bottom: 0px;
   
}
 .inner {
   display:none;
 }
.metadata {
   background: none;
   padding: 0;
   position: relative;
   border-style: none;	
   font-size: 16px;
   color:white;
   i, p {
      float: left;
   }
   p {
      margin-top: 0;
      margin-left: 10px;
   }
   i {
      color: #ff9d00;
      margin-top: 5px;
      margin-left: 1px;
   }
}

.giveMeEllipsis {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 3; /* number of lines to show */
}
