// Place all the styles related to the SeriesLists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.noImage {
   position: relative;
   top: 50%;
   transform: translateY(-50%);
}

.search_page_wrapper {
   width: 100%;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}



//**********************************************************************************
// Search Cards
.parent {
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   align-items: center;
   justify-content: left;
}

.tile {
   background-color: inherit;
   padding:15px 15px;

 }
 
.inner-img {
   width: 250px;
   height: auto;
}
.card-img-overlay {
   bottom: 0px;
  
}
.inner {
  display:none;
  width: 90%;
  
}
.metadata {
  background: none;
  padding: 0;
  position: relative;
  border-style: none;	
  font-size: 1rem;
  color:white;    
  text-shadow: 1px 1px black;
  i, p {
     float: left;
  }
  p {
     margin-top: 0;
     margin-left: 10px;
  }
  i {
     color: #ff9d00;
     margin-top: 5px;
     margin-left: 1px;
  }
}

.fa-thumbs-up, .fa-thumbs-down {
  color:rgb(77, 70, 70);
  font-size: 3rem;
}
.fa-thumbs-up:hover, .fa-thumbs-down:hover {
  float:none !important;
  color:rgb(50, 108, 233);
  font-size: 4rem;
}
.fa-thumbs-down:hover {
  color:rgb(240, 4, 4);
}
#thumbs {
  text-align: center;
}
.card-text {
   color:white;
   display: -webkit-box;
   -webkit-line-clamp: 3;
   -webkit-box-orient: vertical;  
   overflow: hidden;
   font-weight: 5rem;
   text-shadow: 1px 1px black;
   font-size:1.2em;
   width: 90%;
  // line-height: 1rem;
  // min-height: 6rem;
}
.card-title {
   font-size: 1.5em;
   font-weight: 700;
   color: #414345;
   min-height: 1px;
   color: white !important;
   text-shadow: 2px 2px black;
   width:inherit;
}

.card-body {
   color: white !important;
}
//**************************************************************************************
// Star rating:
.rating {
   display: inline-block;
   unicode-bidi: bidi-override;
   color: #888888;
   font-size: 25px;
   height: 25px;
   width: auto;
   margin: 0;
   position: relative;
   padding: 0;
 }
 
 .rating-upper {
   color: #c52b2f;
   padding: 0;
   position: absolute;
   z-index: 1;
   display: flex;
   top: 0;
   left: 0;
   overflow: hidden;
 }
 
 .rating-lower {
   padding: 0;
   display: flex;
   z-index: 0;
 }

 //*************************************************************************
.my-carousel {
   margin-left: 0;
}

.slick-slide {
   margin:0;
}

.nextArrowBtn{
   position: absolute;
   z-index: 1000;
   top: 30%;
   right: 0;
   color: #BFAFB2;
   font-size: 4rem;
}
.prevArrowBtn{
   position: absolute;
   z-index: 1000;
   top: 30%;
   left: 0;
   color: #BFAFB2;
   font-size: 4rem;
}
.carousel_card {
   margin-left: 30px;
   position: relative;
   top: 0;
   left: 0;
   border: 1px solid #e3e3e3;
   border-radius: var(--imageBorderRadius);
   overflow: hidden;
   background: #c4c4c4;
   background-color: black;
   max-height: 30vh;
   //width: calc(((100vw - 260px - 80px - 64px) / 2));
   //min-height: calc((((100vw - 80px - 260px - 64px) / 2)) * 1.5);
}



 .sidebar {
   height: 100%;
   width: 85px;
   position: fixed;
   z-index: 1;
   top: 0;
   left: 0;
   background-color: #111;
   transition: 0.5s;
   overflow-x: hidden;
   padding-top: 60px;
   white-space: nowrap;
 }
 
 .sidebar a {
   padding: 8px 8px 8px 32px;
   text-decoration: none;
   font-size: 25px;
   color:  #00B4CC;
   display: block;
 }
 
 .sidebar a:hover {
   color: #f1f1f1;
 }
 

 
 @media screen and (max-height: 450px) {
   .sidebar {
     padding-top: 15px;
   }
   .sidebar a {
     font-size: 18px;
   }
 }

 #search-container button {
   font-size: 17px;
   border: none;
   cursor: pointer;
   float: none;
   text-align: left;
   background-color: transparent;
   padding-left: 0;
 }

 #search-container{
   padding-left: 0.5em;
}

#wholebar {
   display: none;
}
#smallbar {
   color:white;

}

.icons {
   padding: 0.8rem 2rem;
   text-decoration: none;
   font-size: 25px;
   color:  #00B4CC;
   display: block;
}

.search {
   width: 100%;
   position: relative;
   display: flex;
 }
 
 .searchTerm {
   width: 100%;
   border: 3px solid #00B4CC;
   border-right: none;
   padding: 5px;
   height: 3rem;
   border-radius: 5px 0 0 5px;
   outline: none;
   color: black;
 }
 
 .searchTerm:focus{
   color: #00B4CC;
 }
 
 .searchButton {
   width: 40px;
   height: 3rem;
   border: 1px solid #00B4CC;
   background: #00B4CC;
   text-align: center;
   color: #fff;
   border-radius: 0 5px 5px 0;
   cursor: pointer;
   font-size: 20px;
 }
 
 /*Resize the wrap to see the search bar change!*/
 .wrap{
   width: 100%;
   position: absolute;
 }