<% if @series_list %>
    <div class = "Container">
        <div class = "content">
            <%= render "shared/tiles", locals: { series_list: @series_list }%> 
        </div>
    </div>
<% else %>
   <div> This page will be populated with your recommendations when you start liking shows so get to searching on the left-hand side </div>
<% end %>