<% if @series_list %>
    <div class = "Container">
        <div class = "content">
            <%= render "shared/tiles", locals: { series_list: @series_list }%> 
        </div>
    </div>
<% else %>
   <div> oh no </div>
<% end %>