<%= render  "layouts/searchbar" %>
<div class="row no-gutters" id="search">
    <%= render "shared/tiles", locals: { series_list: @search.get_series } %>
</div>
<hr>
<div class="row no-gutters" id="show">
    <%= render "shared/tiles", locals: { series_list: @search.get_series } %>
</div>