<div class="SearchContainer" id="search">
    <div class="content">
        <%= render "shared/tiles", locals: { series_list: @search.get_series } %>
    </div>
</div>
<div class="RecommendsContainer" id="show">
    <div class="content">
        <%= render "shared/tiles", locals: { series_list: @search.get_series } %>
    </div>
</div>