<% recommended = @search.get_recommended %>
<% if recommended %>
    <div class="SearchContainer" id="search">
        <div class="content">
            <%= render "shared/tiles", locals: { series_list: @search.get_series } %>
        </div>
    </div>
    <div class="RecommendsContainer" id="show">
        <div class="content2">
            <%= render "shared/recommended_tiles", locals: { recommended_list: recommended } %> 
        </div>
    </div>
<% else %>
    <div class = "Container">
        <div class = "content">
            <%= render "shared/tiles", locals: { series_list: @search.get_series }%> 
        </div>
    </div>
<%end %>